@import "index.html";
@import url('https://fonts.googleapis.com/css2?family=Lily+Script+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap')
;
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Dongle:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
body {
    background-color: #18191b;
}

.titleText{
    color:#2EE59D;
    font-size:69px;
    font-family: 'Lily Script One', cursive;
}

.divTitle{
    background-color: rgba(8, 7, 7, 0);
    display:grid;
    place-items: center;
    border: 2px solid #fff;
    border-radius:8px;
    width:600px;
    box-shadow: 10px 10px #fff;

}
.centerTitle{
    display:grid;
    place-items: center;
}

.signupText{
    color:#fff;
    font-size:59px;
    font-family: 'Dancing Script', cursive;

}
.editSignupText{
    width:460px;
    padding-left:40px;
    border-bottom:4px solid #2EE59D;

}
.mainSignupDiv{
    box-shadow: 10px 10px 10px 10px #121214;
    width:600px;
    height: 600px;




}

input{
    transition: 1s ease-in-out ;
    background-color:transparent;
    color:#ffffff;
    border:2px solid #2EE59D;
    border-radius:15px;
    font-size:38px;
    padding-left:15px;
    font-family: 'Dongle', sans-serif;
}


input:-webkit-autofill {
    border: 3px solid #2EE59D;
    background-color: #18191b;
    font-size:38px;
}

/*#goSignup {*/
/*    width: 140px;*/
/*    height: 45px;*/
/*    font-family: 'Roboto', sans-serif;*/
/*    font-size: 20px;*/
/*    text-transform: uppercase;*/
/*    letter-spacing: 2.5px;*/
/*    font-weight: bold;*/
/*    color: #fff;*/
/*    background-color: transparent;*/
/*    border: none;*/
/*    border-radius: 16px;*/
/*    box-shadow: 0px 8px 15px #2EE59D;*/
/*    transition: all 0.3s ease 0s;*/
/*    cursor: pointer;*/
/*    outline: none;*/

/*}*/

/*#gotk{*/
/*    width: 140px;*/
/*    height: 45px;*/
/*    font-family: 'Roboto', sans-serif;*/
/*    font-size: 20px;*/
/*    text-transform: uppercase;*/
/*    letter-spacing: 2.5px;*/
/*    font-weight: bold;*/
/*    color: #fff;*/
/*    background-color: transparent;*/
/*    border: none;*/
/*    border-radius: 16px;*/
/*    box-shadow: 0px 8px 15px #ffffff;*/
/*    transition: all 0.3s ease 0s;*/
/*    cursor: pointer;*/
/*    outline: none;*/

/*}*/
/*#gotk:hover{*/
/*    background-color: #fff;*/
/*    box-shadow: 0px 15px 20px #fff;*/
/*    color: #18191b;*/
/*    transform: translateY(-7px);*/

/*}*/
/*#goSignup:hover , #google:hover {*/
/*    background-color: #2EE59D;*/
/*    box-shadow: 0px 15px 20px #2EE59D;*/
/*    color: #18191b;*/
/*    transform: translateY(-7px);*/
/*}*/

button{
    height: 45px;
    background-color:transparent;
    width:fit-content;
    border-radius: 12px;
    transition: ease-out 0.3s;
    font-size:30px;
    outline: none;
    color:white;
    position: relative;
    z-index: 1;
    font-family: 'Josefin Sans', sans-serif;
    border:none;
    cursor:pointer;
}
button:hover{
    color:#151515;
    /*border: 3px solid #fff;*/


}
button:before{
    transition:0.5s all ease;
    position: absolute;
    top:0;
    left: 50%;
    right:50%;
    bottom: 0;
    opacity: 0;
    content: "";
    background-color: #2EE59D;
    color:#000;
    border-radius:8px;
}
button:hover:before{
    transition: 0.5s all ease;
    left:0;
    right:0;
    opacity: 1;
    z-index: -1;


}

.centerBtn{
   padding-left:90px;
}
a{
    color:#ffffff;
    font-size:20px;
    font-family: Chalkduster, serif;
}



placeholder{
    color:#ffffff;
}
#textKey{
    color:#fff;
    font-size:55px;
    font-family: 'Caveat', cursive;
    text-align:center;


}