@import "index.html";
@import url('https://fonts.googleapis.com/css2?family=Lily+Script+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap')
;
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Dongle:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap');
body {
    background-color: #18191b;
}

.titleText{
    color:#2EE59D;
    font-size:69px;
    font-family: 'Lily Script One', cursive;
}

.divTitle{
    background-color: rgba(8, 7, 7, 0);
    display:grid;
    place-items: center;
    border: 2px solid #fff;
    border-radius:8px;
    width:600px;
    box-shadow: 10px 10px #fff;

}
.centerTitle{
    display:grid;
    place-items: center;
}

.signupText{
    color:#fff;
    font-size:59px;
    font-family: 'Dancing Script', cursive;

}
.editSignupText{
    width:460px;
    padding-left:40px;
    border-bottom:4px solid #2EE59D;

}
.mainSignupDiv{
    box-shadow: 10px 10px 10px 10px #121214;
    width:600px;
    padding-bottom:100px;
    height: 600px;


}

input{
    transition: 1s ease-in-out ;
    background-color:transparent;
    color:#ffffff;
    border:2px solid #2EE59D;
    border-radius:15px;
    font-size:38px;
    padding-left:15px;
    font-family: 'Dongle', sans-serif;
}


input:-webkit-autofill {
    border: 3px solid #2EE59D;
    background-color: #18191b;
    font-size:38px;
}

#goSignup{
    width: 140px;
    height: 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: bold;
    color: #fff;
    background-color: transparent;
    border: none;
    border-radius: 16px;
    box-shadow: 0px 8px 15px #2EE59D;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;

}
#goSignup:hover , #google:hover{
    background-color: #2EE59D;
    box-shadow: 0px 15px 20px #2EE59D;
    color: #18191b;
    transform: translateY(-7px);
}
.centerBtn{
   padding-left:90px;
}
a{
    color:#ffffff;
    font-size:20px;
    font-family: Chalkduster, serif;
}
#google{
    width: 140px;
    height: 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: bold;
    color: #fff;
    background-color: transparent;
    border: none;
    border-radius: 16px;
    box-shadow: 0px 8px 15px #2EE59D;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;

}

#btnKey{
    background-color:transparent;
    font-size:45px;
    /*font-family: 'Dongle', sans-serif;*/
    font-family: Chalkduster, serif;
    color:#fff;
    border:2px solid #fff;
    border-radius: 6px;
    width:250px;
    height: 250px;

}


placeholder{
    color:#ffffff;
}
